body {
  color: var(--neutral-dark-gray);
  font-family: inter;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
}

.container {
  margin: 0 auto;
  padding: 2.7rem 3.2rem;
  max-width: 1200px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.top-menu {
  background-color: var(--neutral-white);
  position: fixed;
  top: 0;
  width: 100%;
  height: 84px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 3.2rem;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.navbar-items > a {
  display: inline-block;
  text-transform: capitalize;
  color: var(--neutral-dark-gray);
  font-family: inter;
  font-weight: 500;
  transition: all 1s;
}

.navbar-items:hover > a {
  transform: scale(1.2);
  color: var(--brand-primary);
  transition: all 1s;
}

.btn-register {
  background-color: var(--brand-primary);
  padding: 1rem 2.2rem;
  color: var(--neutral-white);
  font-family: inter;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  text-transform: capitalize;
  border-radius: 3px;
  transition: all 1s;
}

.btn-register:hover {
  background-color: var(--shade-1);
}

.btn-register:hover .btn-register-icon {
  transform: translateX(4px);
  transition: transform 1s;
}

.btn-register-icon {
  padding-left: 0.4rem;
  transition: transform 0.5s;
}

.hero-section {
  background-color: var(--neutral-silver);
  padding-top: 84px;
  height: calc(80vh - 84px);
  width: 100%;
}

.hero-section .left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 22px;
}

.hero-section__title--green {
  color: var(--brand-primary);
}

.hero-section .left-section button.btn-register {
  width: max-content;
  cursor: pointer;
}

.hero-section__text {
  color: var(--neutral-gray);
}

.our-clients-section h2 {
  text-transform: capitalize;
}

.our-clients-section p.description::first-letter {
  text-transform: uppercase;
}

.our-clients-section h2,
.our-clients-section p {
  text-align: center;
}

.clients-logo {
  padding: 24px 0;
  margin-top: 12px;
}

.clients-logo > .client-logo {
  transition: all 1s;
  cursor: pointer;
}

.clients-logo > .client-logo:hover {
  transform: scale(1.2);
  transition: all 1s;
}
