body {
  color: var(--neutral-dark-gray);
  font-family: inter;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
}

.container {
  margin: 0 auto;
  padding: 2.7rem 3.2rem;
  max-width: 1200px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.top-menu {
  background-color: var(--neutral-white);
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  height: 84px;
  box-shadow: 0px 1px 20px 0px rgba(50, 50, 50, 0.5);
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 3.2rem;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.navbar-items > a {
  display: inline-block;
  text-transform: capitalize;
  color: var(--neutral-dark-gray);
  font-family: inter;
  font-weight: 500;
  transition: all 1s;
}

.navbar-items:hover > a {
  transform: scale(1.2);
  color: var(--brand-primary);
  transition: all 1s;
}

.btn-register {
  background-color: var(--brand-primary);
  padding: 1rem 2.2rem;
  color: var(--neutral-white);
  font-family: inter;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  text-transform: capitalize;
  border-radius: 3px;
  transition: all 1s;
}

.btn-register:hover {
  background-color: var(--shade-1);
}

.btn-register:hover .btn-register-icon {
  transform: translateX(4px);
  transition: transform 1s;
}

.btn-register-icon {
  padding-left: 0.4rem;
  transition: transform 0.5s;
}

.hero-section {
  background-color: var(--neutral-silver);
  padding-top: 84px;
  height: calc(80vh - 84px);
  width: 100%;
}

.hero-section .left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 22px;
}

.hero-section__title--green {
  color: var(--brand-primary);
}

.hero-section .left-section button.btn-register {
  width: max-content;
  cursor: pointer;
}

.hero-section__text {
  color: var(--neutral-gray);
}

.main-style {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.our-clients-section h2 {
  text-transform: capitalize;
}

.our-clients-section p.description::first-letter {
  text-transform: uppercase;
}

.our-clients-section h2,
.our-clients-section p {
  text-align: center;
}

.clients-logo {
  padding: 24px 0;
  margin-top: 12px;
}

.clients-logo > .client-logo {
  transition: all 1s;
  cursor: pointer;
}

.clients-logo > .client-logo:hover {
  transform: scale(1.2);
  transition: all 1s;
}

/* community section */

.community-section-title {
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

.community-section-title::first-letter {
  text-transform: uppercase;
}

.community-section-description {
  text-align: center;
  margin-top: 0.8rem;
}

.community-section .cards-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3.2rem;
}

.community-section .cards {
  min-width: 200px;
  width: 30%;
  height: auto;
}

.community-section .cards .card-icon-container {
  position: relative;
}

.community-section .cards .card-icon {
  width: 33px;
  aspect-ratio: 1/1;
}

.community-section .cards .card-icon-bg {
  position: absolute;
  top: 10px;
  left: 7px;
  z-index: -1;
  border-radius: 16px 4px 16px 4px;
  width: 34px;
  height: 34px;
  background-color: var(--tint-t5);
}
.community-section .card-title {
  text-transform: capitalize;
}

.community-section .cards {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  padding: 20px;
  gap: 20px;
}

.unlock-section .left-unlock-section {
  width: 30%;
  height: 100%;
}

.unlock-section .right-unlock-section {
  width: 60%;
}

.unlock-section .left-unlock-section .image {
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.5s;
}

.unlock-section .left-unlock-section .image:hover {
  transform: scale(1.2);
  transition: all 0.7s;
}

.unlock-section .right-unlock-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.unlock-section .right-unlock-section .btn-register {
  width: max-content;
}

.achievements-section {
  background-color: var(--neutral-silver);
  padding: 36px 0;
}

.achievements-left-section,
.achievements-right-section {
  width: 40%;
}

.achievements-left-section .description {
  margin-top: 10px;
}

.achievements-left-section .green-text {
  color: var(--brand-primary);
}

.achievements-right-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 32px;
}

.achievements-right-section > .achievements {
  width: 45%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.achievements-right-section > .achievements > .icon {
  min-width: 36px;
  aspect-ratio: 1 / 1;
}

.achievements-right-section > .achievements > .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

/* .achievements-right-section > .achievements > .info > .numbers {
} */

.achievements-right-section > .achievements > .info > .title {
  /* font-size: 1rem; */
  color: var(--neutral-gray);
}

/* calendar section */

.calendar-left-section {
  width: 30%;
}

.calendar-left-section img {
  width: 100%;
}

.calendar-right-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.calendar-right-section .title::first-letter,
.calendar-right-section .description::first-letter {
  text-transform: uppercase;
}

.calendar-right-section .btn-register {
  width: max-content;
  text-transform: capitalize;
}

.customers-section {
  background-color: var(--neutral-silver);
}

.customers-section .flex-container {
  align-items: stretch;
}

.customers-left-section {
  width: 30%;
  aspect-ratio: 1 / 1;
}

.customers-left-section .image-wrapper {
  border-radius: 20px;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.customers-left-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.customers-right-section {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.customers-right-section .description-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.customers-right-section .description-container .description {
  text-align: justify;
}

.customers-right-section .description-container .author {
  color: var(--brand-primary);
}

.customers-right-section .customers-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customers-right-section .customers-container .customers-icon {
  width: 36px;
  aspect-ratio: 1 / 1;
}

.customers-right-section .btn-meet-customers {
  border-radius: 4px;
  color: var(--brand-primary);
  cursor: pointer;
  padding: 8px 16px;
  transition: all 0.5s;
}

.customers-right-section .btn-meet-customers:hover {
  background-color: var(--brand-primary);
  color: var(--neutral-white);
  transition: all 0.7s;
}

.customers-right-section .btn-meet-customers::first-letter {
  text-transform: uppercase;
}

.customers-right-section .btn-meet-customers .fa-arrow-right {
  margin-left: 8px;
}
